<div id="sidebar">
<ul>

<li class="widget">
  <h2><a href="/blog/">Recent Posts</a></h2>
  <ul>
    <% @posts = WpPost.published.posts.all(:order => "post_date desc", :limit => 5) %>
    <% @posts.each do |post| %>
    <li>
      <a href="<%= blog_post_path(post) %>"><%=h post.post_title %></a>
    </li>
    <% end %>
  </ul>
</li>

</ul>
</div>