<div id="sidebar">
<ul>

<li class="widget">
  <h2><a href="/blog/">Recent Posts</a></h2>
  <ul>
    <% @posts = WpPost.published.posts.all(:order => "post_date desc", :limit => 5) %>
    <% @posts.each do |post| %>
    <li>
      <a href="<%= blog_post_path(post) %>"><%=h post.post_title %></a>
    </li>
    <% end %>
  </ul>
</li>

<li id="twitter_widget" class="widget">
  <h2><a href="http://twitter.com/awesomefound">Recent Tweets</a></h2>
  <div id="tweets">
  </div>
</li>

</ul>
</div>

<% content_for :footer do %>
<script 
 src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" 
 type="text/javascript">
</script>
<script type="text/javascript" charset="utf-8">
getTwitters('tweets', { 
  id: 'awesomefound', 
  count: 5, 
  enableLinks: true, 
  ignoreReplies: true, 
  clearContents: true,
  template: '%text% <a class="time" href="http://twitter.com/%user_screen_name%/statuses/%id%/">%time%</a>',
  callback: function() { $("#twitter_widget").show() }
});
</script>
<% end %>