<% content_for :title, "Contact" %>

<div id="main">

  <p>You can reach us at <a href="mailto:contact@awesomefoundation.org">contact@awesomefoundation.org</a>, follow us on Twitter at <a href="http://twitter.com/awesomefound">@awesomefound</a> or become a fan of us on Facebook <a href="http://www.facebook.com/awesomefoundation">here</a>.</p>
  
</div>