<div id="main">

<div class="page hentry">
	<h1 id="tagline">Forwarding the interest of Awesome in the universe, $1,000 at a time.</h1>
  <ul id="bullets">
    <li>
      <h2>Funding for your project</h2>
      <p>Need some funding for your crazy brilliant idea? We award $1,000 grants every month. It couldn't be simpler. <a href="/apply/">Apply now</a>.</p>
    </li>
    <li>
      <h2>No strings attached</h2>
      <p>Your idea is yours alone. We don't ask for a stake in it. We just want to help you make it happen. <a href="/faq/">Learn more</a>.</p>
    </li>
    <li>
      <h2>It's spreading</h2>
      <p>We started in Boston, but chapters are opening up around the world. Want to help start one in your city? <a href="/chapters/">See how</a>.</p>
    </li>
  </ul>
</div>
	
</div>

<%= render :partial => "shared/sidebar" %>