<% content_for :title, "Chapters" %>

<div id="main">

  <p>Interested in starting a chapter in your city? Get in touch with us at <a href="mailto:contact@awesomefoundation.org">contact@awesomefoundation.org</a> or on Twitter at <a href="http://twitter.com/awesomefound">@awesomefound</a>.</p>
  
  <h2>Current Chapters</h2>
  <ul id="chapters">
  <% @chapters.each do |chapter| %>
  <li class="chapter">
    <%= link_to chapter.name, chapter_path(chapter) %>
  </li>
  <% end %>
  </ul>

</div>