<% content_for :title, "Chapters" %>

<div id="main">

  <p>Want to help start a chapter or join an existing one if a spot opens up? Awesome!<br /><a class="highlight" href="http://spreadsheets2.google.com/a/awesomefoundation.org/viewform?hl=en&formkey=dFJwaXhNTFp6VG40clU3cFVfWFk0bXc6MQ">Tell us about yourself here!</a></p>
  
  <h2>Current Chapters</h2>
  <ul id="chapters">
  <% @chapters.each do |chapter| %>
  <li class="chapter">
    <%= link_to chapter.name, chapter_path(chapter) %>
  </li>
  <% end %>
  </ul>

  <p>Questions? Drop us an email at <a href="mailto:contact@awesomefoundation.org">contact@awesomefoundation.org</a> or ping us on Twitter at <a href="http://twitter.com/awesomefound">@awesomefound</a>.</p>

</div>